

:root{
    --content-col: #ffffff;
    --accent-col: #d1d1d1;
    --accent2-col: #ececec;
    --text-col: #000000;
    --text-font: "Roboto", sans-serif;
    --section-padding: 1rem 2rem; 
}

html {
    margin: 0px; 
    padding: 0px;
    width: 100%; 
    height: auto;
    scroll-behavior: smooth;
    overflow: hidden;  
}

body{
    margin: 0px;
    width: 100%;
    height: auto;
    font-family: var(--text-font);
}

.container{
    display: flex; 
    flex-direction: column;
    overflow: hidden;
    z-index: 2;
}

.message-cont{
    display: none; 
    flex-direction: column;
    overflow: hidden;
    backdrop-filter: blur(5px);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 3;
    justify-content: center;
    align-items: center;
}

.message-box{
    width: 50%;
    min-width: 20rem; 
    max-width: 30rem; 
    height: 45%;  
    min-height: fit-content;
    background-color: var(--accent-col); 
    border-radius: 1rem;
    padding: 1.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.message-segment{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}
 
#consent-button{
    width: 50%;
    height: 2.5rem;
    border-radius: 0.5rem;
    font-size: 1.25rem; 
    font-weight: bold;
    align-self: flex-end;
}

.spacer{
    width: auto;
    height: 4rem;
}




.header{
    display: flex;
    background-color:  var(--accent-col);
    padding: var(--section-padding);
    z-index: 99;
}

.content{
    display: flex;
    background-color: var(--content-col);
    padding: var(--section-padding);
    margin: 2.5rem 0rem;
    height: auto;
    flex-direction: column;
    z-index: 1;
}

.footer{
    display: flex;
    background-color: var(--accent-col);
    padding: var(--section-padding);
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 98;
}



.jar-list{
    display: flex;
    flex-direction: row;
    padding: 1rem 0rem;
    gap: 1rem;
    overflow: auto;  
}
.item-cont{
    display: flex;
    padding: 1rem;  
    background-color: var(--accent2-col);
    border-radius: 0.5rem;  
    flex-direction: column;
    align-items: center; 
    gap: 0.75rem;
    width: auto;  
}
.cookie-btn{
    width: 7.5rem; 
    height: 7.5rem; 
    border-radius: 50%;
    border-style: none;
    background-color: rgb(218, 176, 86);
    box-shadow: #000000 0px 1px 2px;
    transition: 0.25s;  
}
.cookie-btn:hover{
    scale: 1.05;
    box-shadow: #000000 0px 3px 8px;
    cursor: pointer;
}
.cookie-label{
    display: flex;
    font-size: 1rem; 
    color: var(--text-col);
    flex-wrap: wrap;
    text-align: center;  
}
#cookie1-icon{
    background-color:rgb(121, 90, 25); 
}
#cookie2-icon{
    background-color: rgb(218, 176, 86);
}
#cookie3-icon{
    background-color: rgb(218, 176, 86);
}


.text-heading{
    font-size: 1.5rem;
    color: var(--text-col);
    font-weight: bold;
}
.text-normal{
    font-size: 1.25rem; 
    color: var(--text-col);
}
.text-small{
    font-size: 1.rem; 
    color: var(--text-col);
}
.text-footer{
    font-size: 0.75rem; 
    color: var(--text-col);
}
