

:root{
    --content-col: #ffffff;
    --accent-col: #d1d1d1;
    --accent2-col: #ececec;
    --text-col: #000000;
    --text-font: "Roboto", sans-serif;
    --section-padding: 1rem 2rem; 
}

html {
    margin: 0px; 
    padding: 0px;
    width: 100%; 
    height: auto;
    scroll-behavior: smooth;
    overflow: hidden;  
}

body{
    margin: 0px;
    width: 100%;
    height: auto;
    font-family: var(--text-font);
}

.container{
    display: flex; 
    flex-direction: column;
    overflow: hidden; 
}

.spacer{
    width: auto;
    height: 4rem;
}




.header{
    display: flex;
    background-color:  var(--accent-col);
    padding: var(--section-padding);
}

.content{
    display: flex;
    background-color: var(--content-col);
    padding: var(--section-padding);
    margin: 4rem 0rem;
    height: auto;
    flex-direction: column;
}

.footer{
    display: flex;
    background-color: var(--accent-col);
    padding: var(--section-padding);
    position: fixed;
    bottom: 0px;
    width: 100%;
}



.jar-list{
    display: flex;
    flex-direction: row;
    padding: 1rem 0rem;
    gap: 1rem;
    overflow: auto;  
}
.item-cont{
    display: flex;
    padding: 1rem;  
    background-color: var(--accent2-col);
    border-radius: 0.5rem;  
    flex-direction: column;
    align-items: center; 
    gap: 0.75rem;
    width: auto;  
}
.cookie-btn{
    width: 7.5rem; 
    height: 7.5rem; 
    border-radius: 50%;
    border-style: none;
    background-color: rgb(218, 176, 86);
    box-shadow: #000000 0px 1px 2px;
    transition: 0.25s;  
}
.cookie-btn:hover{
    scale: 1.05;
    box-shadow: #000000 0px 3px 8px;
    cursor: pointer;
}
.cookie-label{
    display: flex;
    font-size: 1rem; 
    color: var(--text-col);
    flex-wrap: wrap;
    text-align: center;  
}



.text-heading{
    font-size: 1.5rem;
    color: var(--text-col);
    font-weight: bold;
}
.text-normal{
    font-size: 1.25rem; 
    color: var(--text-col);
}
.text-footer{
    font-size: 0.75rem; 
    color: var(--text-col);
}