

:root{
    --content-col: #ffffff;
    --accent-col: #d1d1d1;
    --text-col: #000000;
    --text-font: "Roboto", sans-serif;
    --section-padding: 1rem 2rem;
}

html {
    margin: 0px; 
    padding: 0px;
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    width: auto;
    font-family: var(--text-font);
}

.container{
    display: flex; 
    flex-direction: column;
}





.header{
    display: flex;
    background-color:  var(--accent-col);
    padding: var(--section-padding);
}

.content{
    display: flex;
    background-color: var(--content-col);
    padding: var(--section-padding);
    margin: 4rem 0rem;
    height: auto;
    flex-direction: column;
}

.footer{
    display: flex;
    background-color: var(--accent-col);
    padding: var(--section-padding);
    position: fixed;
    bottom: 0px;
    width: 100%;
}



.jar-list{
    display: flex;
    flex-direction: row;
    padding: 1rem 0rem;
    gap: 1rem;
}
.item-cont{
    display: flex;
    padding: 0.5rem; 
    background-color: aqua;
    flex-direction: column;
    align-items: center; 
    gap: 0.5rem;
    width: 5rem; 
}
.cookie-btn{
    width: 5rem;
    height: 5rem;

}




.text-heading{
    font-size: 2rem;
    color: var(--text-col);
    font-weight: bold;
}
.text-normal{
    font-size: 1.25rem; 
    color: var(--text-col);
}
.text-footer{
    font-size: 0.75rem; 
    color: var(--text-col);
}